<!DOCTYPE html>
{% include 'head.twig' with {'type': 'blog'} %}
<div class="container">
	{% include 'header.twig' %}
	<section id="content">
			<article>
				<h2><a href="{{ current_page.url }}">{{ current_page.meta.title }}</a></h2>
				<span class="post-date">Date: <em>{{ current_page.meta.date|date(config.date_format) }}</em></span><br>
				<span class="post-category">Category: <em>{{ current_page.meta.category }}</em></span><br>
				<span class="post-keywords">Keywords: <em>{{ current_page.meta.keywords }}</em></span><br>
				{{ content }}
				<a href="{{ base_url }}" title="Homepage" class="btn">Back Home</a>
			</article>
		</div>
	</section>
	{% include 'footer.twig' %}
</div>
</body>
</html>
